<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content=""><!-- more meta tag -->
<title>FOOD Blog by ALPHA D</title>
<!-- icon --> 
<link href="" rel="icon" type="image/png">
<!-- Bootstrap -->
<!-- CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="css/main.css" rel="stylesheet">
<link href="css/sidebar.css" rel="stylesheet">
<!-- fonts -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="css/fonts.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<!-- Sidebar -->
<div id="sidebar">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#" onclick="toggleSidebar()">FOOD BLOG</a> 
    </li>
    <li><a href="#food" onclick="toggleSidebar()">Food</a></li>
    <li><a href="#about" onclick="toggleSidebar()">About</a></li>
  </ul>
</div>
<!-- nav -->
<nav> 
  <ul class="nav nav-tabs nav-justified padding white text-wide">
    <li><a href="#" onclick="toggleSidebar()">mune</span></a></li>
    <li><a href="#home">FOOD BLOG</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
<div class="container">
<div class="padding-32">
<div class="row padding" id="food">
  <div class="col-sm-6 col-md-3 margin-bottom">
    <img src="https://www.w3schools.com/w3images/sandwich.jpg" alt="Sandwich" class="img-responsive">
    <h3>The Perfect Sandwich, A Real NYC Classic</h3>
    <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
  </div>
  <div class="col-sm-6 col-md-3 margin-bottom">
    <img src="https://www.w3schools.com/w3images/steak.jpg" alt="Steak" class="img-responsive">
    <h3>Let Me Tell You About This Steak</h3>
    <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
  </div>
  <div class="col-sm-6 col-md-3 margin-bottom">
    <img src="https://www.w3schools.com/w3images/cherries.jpg" alt="Cherries" class="img-responsive">
    <h3>Cherries, interrupted</h3>
    <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    <p>What else?</p>
  </div>
  <div class="col-sm-6 col-md-3 margin-bottom">
    <img src="https://www.w3schools.com/w3images/wine.jpg" alt="Pasta and Wine" class="img-responsive">
    <h3>Once Again, Robust Wine and Vegetable Pasta</h3>
    <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
  </div>
  <div class="col-sm-6 col-md-3 margin-bottom">
    <img src="https://www.w3schools.com/w3images/popsicle.jpg" alt="Popsicle" class="img-responsive">
    <h3>All I Need Is a Popsicle</h3>
    <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
  </div>
  <div class="col-sm-6 col-md-3 margin-bottom">
    <img src="https://www.w3schools.com/w3images/salmon.jpg" alt="Salmon" class="img-responsive">
    <h3>Salmon For Your Skin</h3>
    <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
  </div>
  <div class="col-sm-6 col-md-3 margin-bottom">
    <img src="https://www.w3schools.com/w3images/sandwich.jpg" alt="Sandwich" class="img-responsive">
    <h3>The Perfect Sandwich, A Real Classic</h3>
    <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
  </div>
  <div class="col-sm-6 col-md-3 margin-bottom">
    <img src="https://www.w3schools.com/w3images/croissant.jpg" alt="Croissant" class="img-responsive">
    <h3>Le French</h3>
    <p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
  </div>
</div><!-- /.row -->
<!-- Page navigation -->
<nav class="text-center">
  <ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</nav>
<!-- about -->
<div class="padding-32 text-center" id="about">  
  <h3>About Me, The Food Man</h3><br>
  <img src="https://www.w3schools.com/w3images/chef.jpg" alt="Me" class="img-responsive center">
  <div class="padding-32">
    <h4><b>I am Who I Am!</b></h4>
    <h6><i>With Passion For Real, Good Food</i></h6>
    <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
  </div>
</div>

<!-- Footer -->
<footer class="row padding-32">
  <div class="col-sm-4">
    <h3>FOOTER</h3>
    <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    <p>Powered by <a href="https://www.w3schools.com">w3.css</a>
    /<a href="https://github.com/alphadsy">ALPHA D</a></p>
  </div>

  <div class="col-sm-4">
    <h3>BLOG POSTS</h3>
    <ul class="list-unstyled">
      <li class="padding-16">
        <img src="https://www.w3schools.com/w3images/workshop.jpg" class="left margin-right">
        <span class="large">Lorem</span><br>
        <span>Sed mattis nunc</span>
      </li>
      <li class="padding-16">
        <img src="https://www.w3schools.com/w3images/gondol.jpg" class="left margin-right">
        <span class="large">Ipsum</span><br>
        <span>Praes tinci sed</span>
      </li> 
    </ul>
  </div>

  <div class="col-sm-4">
    <h3>POPULAR TAGS</h3>
      <span class="label label-default black">Travel</span> <span class="label label-default">New York</span> <span class="label label-default">Dinner</span>
      <span class="label label-default">Salmon</span> <span class="label label-default">France</span> <span class="label label-default">Drinks</span>
  </div>
</footer>
</div><!-- /.container -->

<!-- jQuery v3.1.1 -->
<!-- CDN JQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!-- CDN JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- js -->
<script src="js/sidebar.js"></script>
</body>
</html>
